@import '_normalize';
@import '_config';

body {
    font-family: 'Joanna Nova', serif;
}

.wrapper {
    margin: 0 auto;
    padding: 1em;
    max-width: 1100px;
}

@include for-tablet-landscape-up {
    .wrapper {
        padding: 2em;
    }
}

/* !-- Elements --------------------------------------------- */

a {
    text-decoration: none;
    color: $link_color;
}

/* !-- Header ----------------------------------------------- */

.logo {
    margin: 2rem auto 0 auto;
    width: 120px;

    img {
        display: block;
        width: 100%;
    }
}

.site-description {
    font-family: 'Freestyle Script', cursive;
    font-size: 28px;
    text-align: center;
    color: $red;
}

@include for-tablet-landscape-up {
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 2rem 0;
        width: 144px;
    }

    .site-description {
        font-size: 42px;
    }
}

/* !-- Games list ------------------------------------------- */

.games {
    padding-left: 0;
    list-style: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    img {
        display: block;
        order: 1;
        border: 1px solid $light_gray;
        width: 100%;
        height: auto;
    }
}

.game-info {
    position: relative;
    order: 2;
    margin-top: 0.5rem;
    width: 100%;
}

.game-title {
    margin: 0;
    width: calc(100% - 30px);
    font-size: 20px;
    font-weight: normal;
}

.github-link {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../images/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

@include for-tablet-portrait-up {
    .games {
        display: grid;
        grid-gap: 2rem;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@include for-tablet-landscape-up {
    .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* !-- Site Footer ------------------------------------------ */

.site-footer {
    border-top: 6px solid $light_gray;
    padding-top: 0.5em;
    font-size: 16px;
    text-align: right;
}